<app-navbar></app-navbar>
<!-- partial -->
<div class="container-fluid page-body-wrapper">

    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">ตำแหน่งในที่ประชุม (Position setting)</h3>
                        <h6 class="font-weight-normal mb-0">All users <span class="text-primary"> <strong>{{total_row}}</strong></span>
                        </h6>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="justify-content-end d-flex">
                            <div class="add-items d-flex mb-0 mt-2">
                                <input type="text" [(ngModel)]="searchText" 
                                (input)="onSearch()" class="form-control todo-list-input" placeholder="ค้นหา">
                                <input type="text" class="form-control todo-list-input" placeholder="Add new">
                                <button class="add btn btn-icon text-primary todo-list-add-btn bg-transparent"
                                    data-toggle="modal" data-target="#addUserForm" data-whatever="@getbootstrap"><i
                                        class="icon-circle-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title mb-0">Positions</p>
                        <div class="table-responsive">
                            <table class="table table-striped table-borderless">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ตำแหน่ง</th>
                                        <th>สถานะใช้งาน</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of filteredItems | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                        <td>{{ i + (p - 1) * 10 + 1 }}</td>
                                        <td>{{user.user_epassport}}</td>
                                        
                                        <td class="font-weight-medium">
                                              <div class="badge badge-success" *ngIf="user.user_astatus == '1'">On</div>
                                              <div class="badge badge-warning" *ngIf="user.user_astatus == '0'">Off</div>
                                        </td>
                                        <td><button type="button" (click)="onClickEditUser(user)" 
                                            data-toggle="modal" data-target="#addUserForm" data-whatever="@getbootstrap" 
                                            class="btn btn-outline-secondary btn-icon-text btn-sm">
                                            Edit
                                            <i class="ti-file btn-icon-append"></i>                          
                                          </button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="list">
                                <pagination-controls (pageChange)="p=$event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

        
    </div>
    <!-- content-wrapper ends -->

    <div class="modal fade" id="addUserForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">เพิ่มผู้ใช้งาน</h4>

                                <form class="forms-sample" [formGroup]="regisForm">
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">e-Passport: *</label>
                                        <input type="text" class="form-control" id="user_epassport"
                                            [(ngModel)]="user.user_epassport" formControlName="user_epassport"
                                            placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">ชื่อ: *</label>
                                        <input type="text" class="form-control" id="user_fname" 
                                            [(ngModel)]="user.user_fname"
                                            formControlName="user_fname" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">นามสกุล: *</label>
                                        <input type="text" class="form-control" id="user_lname"
                                            [(ngModel)]="user.user_lname" formControlName="user_lname"
                                            placeholder="Lastname">
                                    </div>

                                    <div class="form-group">
                                        <label>คณะ/หน่วยงาน: *</label>
                                        <select class="form-control" [(ngModel)]="user.faculty_code" name="faculty_code"
                                            formControlName="faculty_code">
                                            <option *ngFor="let item of FAClist" value="{{ item.FACULTY_CODE }}">
                                                {{ item.FACULTY_TNAME }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>สิทธิ์การใช้งาน: *</label>
                                        <select class="form-control" [(ngModel)]="user.user_role" name="user_role"
                                            formControlName="user_role">
                                            <option value=""></option>
                                            <option value="A">ผู้ดูแลระบบ</option>
                                            <option value="F">คณะ/หน่วยงาน</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" [disabled]="!regisForm.valid" class="btn btn-primary" data-dismiss="modal" (click)="saveUser(user)"
                    >ยืนยันเพิ่มผู้ใช้</button>
                </div>
               
            </div>
        </div>
    </div>